@font-face {
  font-family: 'gameBoy';
  src: url('./images//early_gameboy/Early\ GameBoy.ttf') format('truetype'),
  font-weight: normal;
  font-style: normal;
  }

  .p {
    font-family:"gameboy";
  }